{% extends 'base.html' %}
{% load static %}

{% block css-files %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block title %}
    Paul's Blog
{% endblock %}

{% block content %}
    <h1>Welcome to Paul's Blog!</h1>
    <p>This is Paul Davies' personal blog. Feel free to read his thoughts.</p>

    <img src="{% static "blog/images/softwareDeveloper.jpg" %}" alt="Software Developer">

    <h2>Recent Posts</h2>
    {% for slug, title in post_titles.items reversed %}
        <div>
            <h3><a href={% url 'post' slug %}>{{ title }}</a></h3>
        </div>
    {% endfor %}

    <a href={% url 'posts' %}>More Posts</a>

{% endblock %}