{% extends 'base.html' %}
{% load static %}

{% block css-files %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block title %}
    Paul's Blog
{% endblock %}

{% block content %}
    <h1>Welcome to Paul's Blog!</h1>
    <p>This is Paul Davies' personal blog, with occasional guest posts from others.</p>

    <img src="{% static "blog/images/softwareDeveloper.jpg" %}" alt="Software Developer">

    <h2>Recent Posts</h2>
    {% include "blog/includes/post_list.html" %}

    <a href={% url 'posts' %}>More Posts</a>

{% endblock %}